__pycache__/
*.py[cod]
.venv/
.idea/
build/
dist/
release/
config/settings.json
config/analysis_cache.json
config/analysis_cache.tmp
reports/*.csv
!reports/.gitkeep
pwsh/*
!pwsh/.gitkeep
psmodules/*
!psmodules/.gitkeep
